<main>
	<section class="spotlight">
		<h2 class="spotlight__header">
			<span class="spotlight__header--prefix">Media Spotlight</span>
			<div class="spotlight__link-to"> <%work = @works.sample(1)[0] %><%=  work[:title] %></div>
			by <%= work[:creator]%>
		</h2>
		<p class="spotlight__description">
			number of votes goes here 
		</p>
	</section>
	<hr class="root__hr">
	<section class="top-ten__container">
		<section class="top-ten__list-container">
			<h2 class="top-ten__header">
				Top Albums
			</h2>
			<ul class="list-group top-ten__list">
				<% @albums.sample(10).each do |album| %>
					<li class="list-group-item">
						<h4>
							<%= link_to album.title, work_path(album.id)%>
							<small class="top-ten__creator">by <%= album.creator %></small>
						</h4>
						<p>put votes here</p>
					</li>
				<% end %>
			</ul>
		</section>
		<section class="top-ten__list-container">
			<h2 class="top-ten__header">
				Top Books
			</h2>
			<ul class="list-group top-ten__list">
				<% @books.sample(10).each do |book| %>
					<li class="list-group-item">
						<h4>
							<%= link_to book.title, work_path(book.id)%>
							<small class="top-ten__creator">by <%= book.creator %></small>
						</h4>
						<p>put votes here</p>
					</li>
				<% end %>
			</ul>
		</section>
		<section class="top-ten__list-container">
			<h2 class="top-ten__header">
				Top Movies
			</h2>
			<ul class="list-group top-ten__list">
				<% @movies.sample(10).each do |movie| %>
					<li class="list-group-item">
						<h4>
							<%= link_to movie.title, work_path(movie.id)%>
							<small class="top-ten__creator">by <%= movie.creator %></small>
						</h4>
						<p>put votes here</p>
					</li>
				<% end %>
			</ul>
		</section>
	</section>
</main>
