
<body>
  <header class="app-header__header">
    <h1>
      <a href="/">Media Ranker</a>
      <small>Ranking the Best of Everything</small>
    </h1>

    <nav class="app-header__nav">
      <ul class="nav app-header__site-nav-container">
        <li class="nav-item app-header__nav_item">
          <a class="nav-link" href="/">View top media</a>
        </li>
        <li class="nav-item app-header__nav_item">
          <a class="nav-link" href="/works">View all media</a>
        </li>
        <li class="nav-item app-header__nav_item">
          <a class="nav-link" href="/works/new">Add a new work</a>
        </li>
        <li class="nav-item app-header__nav_item">
          <a class="nav-link" href="/users">View all users</a>
        </li>
      </ul>
      <ul class="nav app-header__user-nav-container">

        <li class="nav-item app-header__nav_item">
          <a class="btn btn-primary" href="/login">Log In</a>
        </li>

      </ul>
    </nav>
  </header>


<main>
      <section class="spotlight">
    <h2 class="spotlight__header">
      <span class="spotlight__header--prefix">Media Spotlight</span>
      <a class="spotlight__link-to" href="/works/596">your name.</a> by Makoto Shinkai
    </h2>
    <p class="spotlight__description">
      25 votes - Anime
    </p>
  </section>

<hr class="root__hr">

 <section class="top-ten__list-container">
  <h2 class="top-ten__header">
    Top Albums
  </h2>
  <ul class="list-group top-ten__list">
    <% @albums.sample(10).each do |album| %>
      <li class="list-group-item">
        <h4>
          <%= link_to album.title, work_path(album.id)%>
          <small class="top-ten__creator">by <%= album.creator %></small>
        </h4>
        <p>4 votes</p>
      </li>
    <% end %>
  </ul>
  <!-- <a href="/works.books">View More Books</a> -->
</section>

  <section class="top-ten__list-container">
  <h2 class="top-ten__header">
    Top Books
  </h2>
  <ul class="list-group top-ten__list">
    <% @books.sample(10).each do |book| %>
      <li class="list-group-item">
        <h4>
          <%= link_to book.title, work_path(book.id)%>
          <small class="top-ten__creator">by <%= book.creator %></small>
        </h4>
        <p>4 votes</p>
      </li>
    <% end %>
  </ul>
  <!-- <a href="/works.books">View More Books</a> -->
</section>

 <section class="top-ten__list-container">
  <h2 class="top-ten__header">
    Top Movies
  </h2>
  <ul class="list-group top-ten__list">
    <% @movies.sample(10).each do |movie| %>
      <li class="list-group-item">
        <h4>
          <%= link_to movie.title, work_path(movie.id)%>
          <small class="top-ten__creator">by <%= movie.creator %></small>
        </h4>
        <p>4 votes</p>
      </li>
    <% end %>
  </ul>
  <!-- <a href="/works.movies">View More Books</a> -->
</section>


  </main>


</body>
