<h2> List of Works </h2>

<% if @albums.length > 0 %>
  <h2>Albums</h2>
  <table class = "table">  
    <tr>
      <th>Title</th>
      <th>Created By</th>
      <th>Published</th>
    </tr>
  <% @albums.each do |album| %>
    <tr>
      <th><%= link_to album.title, work_path(album.id) %></th>
      <th><%= album.creator %></th>
      <th><%= album.publication_year %></th>
    </tr>
  <% end %>
  </table>
<% else %>
    <h3> No Albums in the system! </h3>
<% end %>



<% if @books.length > 0 %>
  <h2>Books</h2>
  <table class = "table">  
    <tr>
      <th>Title</th>
      <th>Created By</th>
      <th>Published</th>
    </tr>
  <% @books.each do |book| %>
    <tr>
      <th><%= link_to book.title, work_path(book.id) %></th>
      <th><%= book.creator %></th>
      <th><%= book.publication_year %></th>
    </tr>
  <% end %>
  </table>
<% else %>
    <h3> No books in the system! </h3>
<% end %>



<% if @movies.length > 0 %>
  <h2>Movies</h2>
  <table class = "table">  
    <tr>
      <th>Title</th>
      <th>Created By</th>
      <th>Published</th>
    </tr>
  <% @movies.each do |movie| %>
    <tr>
      <th><%= link_to movie.title, work_path(movie.id) %></th>
      <th><%= movie.creator %></th>
      <th><%= movie.publication_year %></th>
    </tr>
  <% end %>
  </table>
<% else %>
    <h3> No movies in the system! </h3>
<% end %>