<section>
	<%= form_with model: @user, url: login_path do |f| %>
		<% if @user.errors.any? %>
			<p><strong>There was an error trying to log in: </strong></p>
			<ul><% @user.errors.each do |column, message| %>
					<li><%= column.capitalize %> <%= message%>.</li>
				<% end %></ul>
		<% end %>
		<div>
			<%= f.label :name %>
			<%= f.text_field :name, class: "form-control" %>
		</div>
		<%= f.submit "Login", class: "btn btn-outline-primary" %>
	<% end %>
</section>
